// ====================
// _color
// ====================

// 明度 ->
// $var: lighten($color, n%);
// $var: darken($color, n%);
// 彩度 ->
// $var: saturate($color, n%);
// $var: desaturate($color, n%);
// 透明度 ->
// $var: transparentize($color, n);
// $var: rgba($color, n);

// --- default  ---
$color-main: #53ABFF;
$color-sub: #B3DDFF;
$color-body: #ffffff;

// --- text ---
$color-text-main: #242C33;
$color-text-sub1: #989CA1;
$color-text-sub2: #CBD0D6;
$color-text-link1: #688094;
$color-text-hover1: #B3C9E0;
$color-text-link2: #ffffff;
$color-text-hover2: #ccc;
$color-text-w: #ffffff;

// --- logo ---
$color-logo-symbol: #53ABFF;
$color-logo-symbol-c: #B3DDFF;
$color-logo-type: #242C33;
$color-logo-w: #ffffff;
$color-logo-w-symbol-c: #CBD0D6;

// --- background ---
$color-bk-main: #fff;
$color-bk-body1: #FCFBF9;
$color-bk-body2: #F3F3F3;
$color-bk-block1: #53ABFF;
$color-bk-block2: #242C33;
$color-bk-link1: #53ABFF;
$color-bk-hover1: #B3DDFF;
$color-bk-link2: #B3DDFF;
$color-bk-hover2: #D9ECFF;
$color-bk-link3: #242C33;
$color-bk-hover3: #ffffff;

// --- line ---
$color-line1: #CBD0D6;
$color-line2: #989CA1;
$color-line3: #242C33;
$color-line4: #EE6C63;
$color-line5: #ffffff;
$color-line6: #ebebeb;

// --- accent ---
$color-accent: #EE6C63;

// --- sns ---
$color-twitter: #55ACEE;
$color-facebook: #3B5998;
$color-instagram: #231F20;
$color-googleplus: #dd4b39;
$color-hatena: #008FDE;
$color-line: #00c300;

// --- link and hover ---
$color-yahoo-link: #0e1bbb;
$color-yahoo-hover: #cc3434;
