<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<title>TEST ejs</title>
<link rel="stylesheet" href="./assets/styles/bundle.min.css" media="all">
</head>
<body ontouchend>
<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-************', 'auto');
  ga('send', 'pageview');
</script> -->
<noscript class="noscript" data-noscript="本サイトは JavaScript が有効な状態にないと正常に表示されません。このメッセージが表示される場合、ブラウザの設定状況をご確認ください。"></noscript>
<!--[if lt IE 10]>
<div class="ie">
  <div class="ie__hold">
    <h3>Site Name</h3>
    <h4>sub title</h4>
    <p>恐れ入りますが、ご利用のブラウザ(インターネット閲覧の為のソフト)は古いバージョンのため、<br />本Webサイトではサポートしておりません。</p>
    <p>古いバージョンのブラウザでは、正常に表示されない箇所が出てくるため非表示としております。</p>
    <p>本サイトを閲覧するには、<a href="http://browsehappy.com">最新のブラウザをインストール</a>してからご覧ください。</p>
  </div>
  <p class="ie__btn" id="js-ieBtn">この表示を削除する</p>
</div>
<![endif]-->
<div class="wrapper" id="js-wrapper">

<header class="header">
  <h1 id="js-testId">TEST EJS</h1>
</header>