<% include layout/_header %>

<main class="main">
  <section class="main__inner">
    <p>test image</p>
    <figure>
      <img src="./assets/images/test2.jpg" style="max-width: 400px;" alt="img">
    </figure>
    <a href="https://twitter.com/42EG4M1" target="_blank"><svg class="c-icon tw"><use xlink:href="#twitterIcon"/></svg></a>
    <a href="https://www.facebook.com/theorthodoxworks" target="_blank"><svg class="c-icon fb"><use xlink:href="#facebookIcon2"/></svg></a>
    <a href="https://github.com/42EG4M1" target="_blank"><svg class="c-icon"><use xlink:href="#githubIcon"/></svg></a>
  </section>
</main>

<% include layout/_footer %>