// ====================
// * _sideFilterBtn
// ====================

.m-sideFilterBtn {
  position: absolute;
  top: 12px;
  right: 0;
  width: 30px;
  height: 30px;
  border: 4px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition-base;
  span {
    position: absolute;
    top: 50%;
    right: 34px;
    display: block;
    font-family: $font-family-mon;
    text-transform: uppercase;
    font-size: 10px;
    color: #eee;
    transform: translateY(-50%);
    transition: $transition-base;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 4px;
    border-radius: 4px;
    background: #eee;
    transition: $transition-base;
    transform:translate(-50%, -50%);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  &.is-none::after {
    display: none;
  }
  &:hover {
    border: 4px solid #ddd;
    > span {
      color: #ddd;
    }
  }
  &:hover::before,
  &:hover::after {
    background: #ddd;
  }
}


//== media query
@media #{$mq1365} {
  .m-sideFilterBtn {
    top: 92px;
    right: 30px;
  }
}
